@model Marcom_Application.Model.master_product
@{
    ViewBag.Title = "Edit";
    Layout = null;
}
<style type="text/css">
    .labelfrm {
        display: block;
        font-size: small;
        margin-top: 5px;
    }

    .error {
        font-size: small;
        color: red;
        border-color: red;
    }
</style>
@using (Html.BeginForm("UpdateData", "Product", FormMethod.Post, new { id = "form_create" }))
{
    @Html.HiddenFor(a => a.id)
    <form>
        <div class="row">
            <div class="col-lg-4">
                <label for="code">* Product Code</label>
            </div>
            <div class="col-lg-8">
                <input type="text" class="form-control" value="@Model.code" disabled />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4">
                <label for="name" class="labelfrm">* Product Name</label>
            </div>
            <div class="col-lg-8">
                <input type="text" class="form-control" id="name" name="name" placeholder="Type Unit Name" required value="@Model.name" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4">
                <label for="description">Description</label>
            </div>
            <div class="col-lg-8">
                <input type="text" class="form-control" id="description" name="description" placeholder="Type Description" value="@Model.description" />
            </div>
        </div>
        <div class="modal-footer">
                <button type="submit" class="btn btn-primary cls_save" data-dissmiss="modal fade">Update</button>
                <button type="button" class="btn btn-warning cls_cancel" data-dissmiss="modal fade">Cancel</button>
        </div>
    </form>
}
<script>
    $(".cls_alertupdate").hide();
    $("#form_create").validate({
        rules: {
            name: {
                required: true
            }
        },
        messages: {
            name: {
                required: "Name Tidak Boleh Kosong"
            },
        },
        submitHandler: function (form) {
            var dataForm = $(form).serialize();
            $.ajax({
                url: "@Url.Action("UpdateData", "Product")",
                method: "post",
                data: dataForm,
                dataType: "json",
                success: function (respon) {
                    if (respon.respon) {
                        $("#exampleModal").modal("hide");
                        $(".cls_alertupdate").show().html("<strong>Data Updated! </strong> Data Product has been Updated !");
                        window.setTimeout(function () {
                            $(".cls_alertupdate").slideUp(500);
                            window.location.reload();
                        }, 3000);
                    }
                    else {
                        alert(respon.reload);
                    }
                }
            });
        }
    });
    $(".cls_cancel").click(function () {
        $("#exampleModal").modal("hide");
        window.location.reload();
    });
</script>



