@model Marcom_Application.ViewModel.VMEvent
@{
    ViewBag.Title = "Edit";
    Layout = null;
}

<style type="text/css">
    .labelfrm {
        display: block;
        font-size: small;
        margin-top: 5px;
    }

    .error {
        font-size: small;
        color: red;
        border-color: red;
    }
</style>
@using (Html.BeginForm("UpdateData", "T_Event", FormMethod.Post, new { id = "edit_event" }))
{
    @Html.HiddenFor(a => a.idevent)
    <form>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-2">
                    <label>* Transaction Code</label>
                </div>
                <div class="col-lg-4">
                    <input type="text" class="form-control" value="@Model.codeevent" disabled />
                </div>
                <div class="col-lg-2">
                    <label>* Request By</label>
                </div>
                <div class="col-lg-4">
                    <input type="text" class="form-control" value="@Model.request_by" disabled />
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-2">
                    <label>* Event Name</label>
                </div>
                <div class="col-lg-4">
                    <input type="text" class="form-control" id="event_name" name="event_name" value="@Model.event_name" />
                </div>
                <div class="col-lg-2">
                    <label>* Request Date</label>
                </div>
                <div class="col-lg-4">
                    <input type="text" class="form-control" value="@Model.request_date.ToString("dd-MM-yyyy")" disabled />
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-2">
                    <label>* Event Place</label>
                </div>
                <div class="col-lg-4">
                    <input type="text" class="form-control" id="place" name="place" value="@Model.place" />
                </div>
            </div>
            <div class="col-lg-2">
                <label>Note</label>
            </div>
            <div class="col-lg-4">
                <textarea class="form-control" id="note" name="note" value="@Model.note">@Model.note</textarea>
            </div>
        </div>
        <br />
     
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-2">
                    <label>* Event Start Date</label>
                </div>
                <div class="col-lg-4">
                    <input onfocus="this.type='date'" class="form-control" id="start_date" name="start_date" value="@Model.start_date.Value.ToString("dd-MM-yyyy")" />
                </div>
                <div class="col-lg-2">
                    <label>Status</label>
                </div>
                <div class="col-lg-4">
                    @if (@Model.status == 1)
                    {
                        <input type="text" class="form-control" placeholder="Submitted" disabled />
                    }
                    else if (@Model.status == 2)
                    {
                        <input type="text" class="form-control" placeholder="In Progress" disabled />
                    }
                    else if (@Model.status == 3)
                    {
                        <input type="text" class="form-control" placeholder="Done" disabled />
                    }
                    else
                    {
                        <input type="text" class="form-control" placeholder="Rejected" disabled />
                    }
                    @*<input type="text" class="form-control" value="@Model.status" disabled/>*@
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-2">
                    <label>* Event End Date</label>
                </div>
                <div class="col-lg-4">
                    <input onfocus="this.type='date'" class="form-control" id="end_date" name="end_date" value="@Model.end_date.Value.ToString("dd-MM-yyyy")" />
                </div>
                 </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-2">
                    <label>* Budget(Rp.)</label>
                </div>
                <div class="col-lg-4">
                    <input type="text" class="form-control" id="budget" name="budget" value="@Model.budget" />
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary cls_save" data-dissmiss="modal fade">Save</button>
            <button type="button" class="btn btn-warning cls_cancel" data-dissmiss="modal fade">Cancel</button>
        </div>
    </form>
}
<script>
    $("#edit_event").validate({
        rules: {
            event_name: {
                required: true
            },
            place: {
                required: true
            },
            start_date: {
                required: true
            },
            end_date: {
                required: true
            },
            budget: {
                required: true,
                number: true
            },
        },
        messages: {
            event_name: {
                required: "Event Name tidak boleh kosong"
            },
            place: {
                required: "Event Place tidak boleh kosong"
            },
            start_date: {
                required: "Event Start Date tidak boleh kosong"
            },
            end_date: {
                required: "Event End Date tidak boleh kosong"
            },
            budget: {
                required: "Budget tidak boleh kosong",
                number: "Hanya Angka"
            },
        },
        submitHandler: function (form) {
            var dataForm = $(form).serialize();
            $.ajax({
                url: "@Url.Action("UpdateData", "T_Event")",
                method: "post",
                data: dataForm,
                dataType: "json",
                success: function (respon) {
                    if (respon.respon) {
                        if (respon.respon) {
                            $("#exampleModal").modal("hide");
                            $(".cls_alert").show().html("<strong>Data Updated!</strong> Transaction Event request with code " + "<strong>" + respon.respon + "</strong>" + " has been updated !");
                            window.setTimeout(function () {
                                $(".cls_alert").slideUp(500);
                                window.location.reload();
                            }, 3000);
                        }
                        else {
                            alert(respon.respon);
                        }
                    }
                }
            });
        }
    });
    $(".cls_cancel").click(function () {
        $("#exampleModal").modal("hide");
    });
</script>
