@model Marcom_Application.ViewModel.VMSouvenir
@{
    ViewBag.Title = "Edit";
    Layout = null;
}

<style type="text/css">
    .labelfrm {
        display: block;
        font-size: small;
        margin-top: 5px;
    }

    .error {
        font-size: small;
        color: red;
        border-color: red;
    }
</style>

@using (Html.BeginForm("UpdateData", "Souvenir", FormMethod.Post, new { id = "edit_validation" }))
{
    @Html.HiddenFor( a => a.id)
    <form>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-2">
                    <label>* Souvenir Code</label>
                </div>
                <div class="col-lg-4">
                    <input type="text" class="form-control"  value="@Model.codesouvenir" disabled/>
                </div>
                <div class="col-lg-2">
                    <label>* Unit Name</label>
                </div>
                <div class="col-lg-4">
                    @Html.DropDownList("m_unit_id", new SelectList(ViewBag.ListJenisUnit, "id", "name"), "-Select Unit Name- ( * )", new { @class = "form-control labelfrm" })
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-2">
                    <label>* Souvenir Name</label>
                </div>
                <div class="col-lg-4">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Type Souvenir Name" value="@Model.namesouvenir" />
                </div>
                <div class="col-lg-2">
                    <label>* Description</label>
                </div>
                <div class="col-lg-4">
                    <input type="text" class="form-control" id="description" name="description" placeholder="Type Description" value="@Model.description" />
                </div>
            </div>
        </div>
        <div class="modal-footer">
                <button type="submit" class="btn btn-primary cls_save" data-dissmiss="modal fade">Update</button>
                <button type="button" class="btn btn-warning cls_cancel" data-dissmiss="modal fade">Cancel</button>
        </div>
    </form>
}
<script>
    $(".cls_alertupdate").hide();
    $("#edit_validation").validate({
        rules: {
            code: {
                required: true
            },
            name: {
                required: true
            },
            m_unit_id: {
                required: true
            }
        },
        messages: {
            code: {
                required: "Souvenir Code harus Diisi"
            },
            name: {
                required: "Souvenir Name harus Diisi"
            },
            m_unit_id: {
                required: "Unit Name harus Diisi"
            },
        },
        submitHandler: function (form) {
            var dataForm = $(form).serialize();
            $.ajax({
                url: "@Url.Action("UpdateData","Souvenir")",
                method: "post",
                data: dataForm,
                dataType: "json",
                success: function (respon) {
                    if (respon.respon) {
                        $("#exampleModal").modal("hide");
                        $(".cls_alert").show().html("<strong>Data Updated!</strong> Data Souvenir has been Updated !");
                        window.setTimeout(function () {
                            $(".cls_alert").slideUp(500);
                            window.location.reload();
                        }, 3000);
                    }
                    else {
                        alert(respon.reload);
                    }
                }
            });
        }
    });
    $(".cls_cancel").click(function () {
        $("#exampleModal").modal("hide");
    });
</script>

